# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build Output
dist/

# Test Coverage
coverage/

# Environment Variables
.env
.env.*
!.env.example
*.local

# Firebase
.firebase/

# OS & Editor Files
.DS_Store
.vscode/*
!.vscode/extensions.json

# ImageKit uploads directory
imagekit-to-upload/

