/* RSVP Section */
#rsvp {
  background-color: var(--color-primary);
  color: var(--color-text-inverse);
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

#rsvp .section-title, #rsvp .section-title::after {
  color: var(--color-text-inverse);
  background-color: var(--color-accent);
}

.rsvp-content {
  max-width: 600px;
  margin: 0 auto;
}
